.container {
    width: 100%;
    margin: auto;
}

html {
    font-family: Verdana;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
    display: block;
    padding-top: 2rem;
    width: 100%;
}

b {
    font-size: x-large;
    text-align: center;
    display: block;
    width: 100%;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: end;
    margin: 0;
    background-color: lightgrey;
}

li a {
    background-color: lightgrey;
    color: floralwhite;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 4rem;
    text-decoration: none;
}

li a:hover {
    background-color: darkgray;
    height: 100%;
}

main {
    background-color: lightslategray;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.center {
    background-color: darkgray;
    display: block;
    width: 80%;
    height: 50%;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
}

figcaption {
    text-align: center;
    padding: 2rem;
    font-family: Helvetica;
    font-size: larger;
}

input {
    display: block;
    width: 100%;
    padding: 1rem;
}

@media screen and (min-width: 769px) {
    .container {
        width: 80%;
    }

    section {
        width: 80%;
    }

    aside {
        width: 20%;
    }

    article {
        width: 50%;
    }

    li {
        width: 10rem;
    }

    form {
        width: 40%;
    }
}