.container {
    width: 100%;
    margin: auto;
}

html {
    font-family: Verdana;
}

body {
    margin: 0;
}

h1 {
    text-align: left;
    display: block;
    padding-top: 2rem;
    width: 100%;
}

b {
    font-size: x-large;
    text-align: center;
    display: block;
    width: 100%;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: end;
    margin: 0;
    background-color: lightgrey;
}

li a {
    background-color: lightgrey;
    color: floralwhite;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 4rem;
    text-decoration: none;
}

li a:hover {
    background-color: darkgray;
    height: 100%;
}

main {
    background-color: darkgray;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

figure {
    height: 50%;
    float: left;
    margin: 0 1rem 1rem 0;
}

.center {
    background-color: rosybrown;
    display: block;
    width: 50%;
    height: 10%;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    padding: 1rem;
}

article {
    width: calc(100% / 3);
    display: block;
    height: 20%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: rosybrown;
    border-radius: 8px 8px 8px 8px;
    border: 1px black solid;
}

article2 {
    width: calc(100% / 3);
    display: block;
    height: 20%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: lightgrey;
    border-radius: 8px 8px 8px 8px;
    border: 1px black solid;
}

article3 {
    width: calc(100% / 3);
    display: block;
    height: 20%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: rosybrown;
    border-radius: 8px 8px 8px 8px;
    border: 1px black solid;
}

img {
    border-radius: 8px 8px 0 0;
    border: 1px black solid;
    width: 100%;
    height: auto;
}

figcaption {
    font-style: italic;
    text-align: left;
    padding-top: 3px;
    color: floralwhite;
}

p {
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 769px) {
    .container {
        width: 80%;
    }

    section {
        width: 80%;
    }

    aside {
        width: 20%;
    }

    article {
        width: 50%;
    }

    li {
        width: 10rem;
    }

    form {
        width: 40%;
    }
}

article {
    width: calc(100% / 3);
    padding: 1rem;
    box-sizing: border-box;
}

